html, body {
  font-size: 15px;
  height: 100%;
}

body {
  font-family: "Open Sans", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
  /*background: #FFFFFF;
  background-url: "http://api.thumbr.it/whitenoise-361x370.png?background=ffffff00&noise=626262&density=16&opacity=10";*/
  background: url("http://api.thumbr.it/whitenoise-361x370.png?background=ffffff00&noise=626262&density=16&opacity=10") repeat scroll 0% 0% rgb(252, 252, 252);
  margin: 0px;
  padding: 20px;
  color: #555555;
  text-rendering: optimizeLegibility;
  min-width: 320px;

}

a { 
  text-decoration:none;
  /*color: #ff0000;*/
  color: #555555;
}

#header { color: #555555 !important; }
#header:hover { text-shadow: 0px 0px 2px #CCFFFF; }

.ui.header {
  font-family: 'Source Sans Pro', "Helvetica Neue", "Helvetica", "Arial", sans-serif;
}

#upload {
    position:absolute;
    right:30px; top:30px;
}

#login {
    position:absolute;
    right:30px; top:30px;
}

#logout {
    position:absolute;
    right:250px; top:30px;
}

#register {
    position:absolute;
    right:180px; top:30px;
}

#footer {
    position:relative;
    left:30px; bottom:10px;
    color: #555555 !important;
    text-decoration:none;
}